# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Environment variables / API keys
.env

# Logs
*.log

# Results
results/*.csv
results/*.json
results/*.xlsx

# Raw datasets
data/raw/*

# Keep folders
!data/raw/.gitkeep
!results/.gitkeep